<!DOCTYPE html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - eProposal NG Vue Component Sandbox</title>
    <base href="~/" />

    <!-- <link rel="stylesheet" href="~/dist/site.css" asp-append-version="true" /> -->
    <link rel="stylesheet" href="https://uikits.cendyn.com/Areas/v002/Plugins/font-icons/css/font-icons.min.css" />
</head>
<body>
    @RenderBody()

    @RenderSection("scripts", required: false)
</body>
</html>
