$brand-primary: #177eab !default;
$brand-main: #055ea9 !default;

$brand-midnight: #242559 !default;
$brand-smoke: #5D596B !default;
$brand-light-smoke: #6e6a7a !default;

$brand-text-muted: #E5E5E5 !default;
